# IDE 
*.pyc
.vscode/settings.json
# personal datasets
datasets/*
data/*
output/*
# ultralytics training results
runs/*
# cloned repos
yolov7/
yolov9/
ultralytics_modified/
# models
*.pt
*.sav
*.engine
